
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CSharp_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 
<script src="https://threejs.org/examples/js/libs/stats.min.js"></script>
<div class="jumbotron jumbotron-main" id="home">
    <div id="particles-js"><canvas class="particles-js-canvas-el" width="1409" height="319" style="width: 100%; height: 100%;"></canvas></div><!-- /.particles div -->
    <div class="container center-vertically-holder">
    	<div class="center-vertically">
    		<div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
                <nav class="navMenu">
                     <ul>
                   
                             <li><a class="nav-link" asp-area="" asp-controller="Student" asp-action="Dashboard">Home</a></li>
                 
                            @{
                                
                                if(Context.Session.GetInt32("uid") != null)
                                {   int id  = (int)Context.Session.GetInt32("uid");
                                
                                    <li><a  class="nav-link" href="/students/@id">My profile</a></li>
                                    <li><a  class="nav-link" href="/project/create">Create projects</a></li>     
                                    <li><a class="nav-link"  asp-controller="Student" asp-action="Logout">Logout</a></li>
                                }
                                else
                                {
                                    <li><a class="nav-link " asp-area="" asp-controller="Student" asp-action="RegLogin">Login/Register</a></li>
                                }
                            } 
                        
                        <div class="dot"></div>
                        </ul>
                </nav>
    		</div>
    		</div>
    	</div>
    </div>
</div>

    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
