
<div class="text-center">
    
    @model Project;
        <div class="EditForm">
             <div class="form--heading">Create new project</div>
        <form asp-action="UpdateProject" asp-controller="Project" method="post">
            <div class="form-group">
                <input asp-for="ProjectName" class="form-control" placeholder="Project Name">
                <span class="text-danger" asp-validation-for="ProjectName"></span>
            </div>
            <div class="form-group">
                <textarea asp-for="Description" class="form-control" placeholder="Description"></textarea>
                <span class="text-danger" asp-validation-for="Description"></span>
            </div>
            <div class="form-group">
                <input asp-for="StackName" class="form-control" placeholder="Stack Name">
                <span class="text-danger" asp-validation-for="StackName"></span>
            </div>
            <div class="form-group">
                <input asp-for="ProjectGithub" class="form-control" placeholder="Github Link">
            </div>
            <div class="form-group">
                <input class="Editbtn" type="submit" value="Create">
            </div>
        </form>
    </div>
</div>