/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #1b6ec2;
  border-color: #1861ac;
}




/* ------------R-------------- */









/* DRAFT */
.projects{
  /* display: inline; */
  /* justify-content: space-between; */
  width: 860px;
  margin: 20px;
  padding: 5px;
  /* background-color: #0366d6; */
}
.proj-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 240px; /*was200*/
  display: inline-block;
  margin: 15px;
  text-align: center;
  font-family: arial;
  font-size: 10px;
}
.proj-card img{
  width: inherit;
}

.stack {
  color: grey;
  font-size: 10px;
}
.group {
  color: rgb(65, 57, 57);
  font-size: 10px;
}

.proj-card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.proj-card button:hover {
  opacity: 0.7;
}





/* DRAFT 2 */
/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  /* height: 100%; */
  margin: 0;
  font-family: Arial;
}
.allcontent{
  width: 900px;
}
/* Style tab links */
.tablink {
  background-color: rgb(139, 139, 139);
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
  /* background-color: rgb(41, 41, 41); */
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  /* color: white; */
  color: rgb(0, 0, 0);
  display: none;
  padding: 70px 20px;
  height: 100%;
  /* background-color: blue!Important; */
}
.tabcontent a{
  color: white;
}
.grouplabel{
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 100px;
  /* width: 600px; */
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 30px;
  padding-right: 20px;
  /* padding: 20px; */
  font-size: 13px;
}
.grouplabel h7{
  font-size: 12px;
}
.grouplabel div{
  padding: 10px;
}
.grouplabel button {
  border: none;
  outline: 0;
  padding: 12px;
  margin-top: 15px;
  margin-right: 50px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 12px;
}

.grouplabel button:hover {
  opacity: 0.7;
}

/* #Home {background-color: rgb(186, 215, 224);}
#News {background-color: rgb(148, 196, 160);} */
/* #Home {background-color: rgb(232, 240, 241);} */
#Projects {background-color: rgb(243, 242, 242);}
#Groups {background-color: rgb(243, 242, 242);} 

#Contact {background-color: rgb(221, 222, 250);}
#About {background-color: rgb(252, 222, 167);}


/* ------------r-------------- */




/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}





/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.reg-login-form {
  display: flex;
  justify-content: space-between;
}

.content{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



.navMenu {
  position: absolute;
 
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.navMenu ul {
  margin-top: 5%;
  display: flex;
  list-style-type: none;
  width: 1050px;
  margin-left: 20%;
  overflow: hidden;
}

.navMenu li {
  margin-right: -170px;
  margin-left: 20%;
  float: left;
}

.navMenu li .nav-link {

  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #f6f4e6;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
}

.navMenu li a:hover {
  color: #fddb3a;
}




/* =Jumbotron Main
-------------------------------------------------------------- */
.jumbotron.jumbotron-main { 
  height: 100%;
	width: 100%;
padding-left: 0;
	padding-top: 0;
	padding-bottom: 50px;
}

#particles-js {
	position: absolute;
	width: 100%;
	height: 120px;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 20% 20%;
	background: #343536; /* Old browsers */
	background: -moz-linear-gradient(left, #343536 0%, #343536 35%, #343536 68%, #343536 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #343536 0%,#343536 35%,#343536 68%,#343536 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #343536 0%,#343536 35%,#343536 68%,#343536 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343536', endColorstr='#6980f2',GradientType=1 ); /* IE6-9 */
}

.jumbotron.jumbotron-main hr {
    border-style: dotted none;
    border-color: rgba(255, 255, 255, 0.35);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    width: 60px;
    height: 30px;
    text-align: center;
    position: relative;
    clear: both;
}

.jumbotron.jumbotron-main a {
    color: #fff;
}

.center-vertically {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.center-vertically-holder { 
	display: table;
	height: 100%;
}

.scroll-indicator {
	padding-top:6px;
    display: inline-block;
    width: 200px;
}

.arrow-scroll-indicator {
	font-size: 10px;
	color: rgba(255, 255, 255, 0.60);
}

.parallax-window {
    background: transparent;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');



body, .message, .form, form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.container {
  width: 1100px;
  margin-top: 35px;
  margin-left: 150px;
  background: white;
  position: relative;
  display: grid;
  grid-template: 100% / 50% 50%;
  box-shadow: 2px 2px 10px 0 rgba(#333, 0.2);
}

.message {
  position: absolute;
  background: white;
  width: 50%;
  height: 100%;
  transition: 0.5s all ease;
  transform: translateX(100%);
  z-index: 4;
}
  :before {
    position: absolute;
    content: '';
    width: 1px;
    height: 70%;
    background: grey;
    opacity: 0;
    left: 0;
    top:15%;
  }
  
  .button {
    margin: 5px 0;
  }

.btn-wrapper {
  width: 60%;
}

.form {
  width: 100%;
  height: 100%;
}
  .form--heading {
    font-size: 18px;
    height: 50px;
    color: rgb(160, 160, 160);
    font-family: 'Playfair Display', serif;
  
}
.text-danger{
  color: red;
  font: medium;
}
form {
  width: 100%;
    margin: 10px;
  }
  label{
    color: white;
  }
  input {
    width: 250px;
    border-bottom: 1px solid rgba(grey, 0.5);
    font-size: 15px;
    font-weight: 300px;
    color: #000000;
    letter-spacing: 0.11em;
  }
  textarea {
    width: 250px;
    border-bottom: 1px solid rgba(grey, 0.5);
    font-size: 15px;
    font-weight: 300px;
    color: #000000;
    letter-spacing: 0.11em;
  }
    ::placeholder {
      color: #bebcbc;
      font-size: 15px;
    }

    :focus {
      outline: 0;
      border-bottom: 1px solid rgba(blue, 0.7);
      transition: 0.6s all ease;
    }
  

.button {
  width: 100%;
  height: 30px;
  border: 0;
  outline: 0;
  color: white;
  font-size: 15px;
  font-weight: 300;
  position: relative;
  z-index: 3;
  letter-spacing: 2px;
  background: linear-gradient(45deg, rgb(52,53,54), rgb(52,53,54));
  font-family: 'Playfair Display', serif;
  cursor: pointer;
}


@media (max-width: 750px){
  .container {
    transform: scale(0.8);
  }
}



.user-card-full {
  overflow: hidden
}

.card {
  margin-top: 50px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  width:1000px;
  margin-left: -30%;
  margin-bottom: 30px
}

.card-block img{
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}


.user-card-full .user-profile {
  border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
  background: -webkit-gradient(linear, left top, right top, from(#646464), to(#353637));
  background: linear-gradient(to right, #353637, #6b6b6b)
}

.user-profile {

  padding-top: 50px;
}

.card-block {
  padding: 1.25rem;

}

.m-b-25 {
  margin-bottom: 25px
}

.img-radius {
  border-radius: 5px
}

h6 {
  font-size: 14px
}

.card .card-block p {
  line-height: 25px;
}



.card-block {
  padding: 1.25rem;
  
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
  margin-bottom: 100px
}

.p-b-5 {
  padding-bottom: 100px !important
}

.card .card-block p {
  line-height: 25px
}

.m-b-10 {
  margin-bottom: 10px
}

.text-muted {
  color: #919aa3 !important
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
  font-weight: 600
}

.m-b-20 {
  margin-bottom: 20px
}

.m-t-40 {
  margin-top: 20px
}

.p-b-5 {
  padding-bottom: 5px !important
}

.m-b-10 {
  margin-bottom: 10px
}

.m-t-40 {
  margin-top: 20px
}

.user-card-full .social-link li {
  display: inline-block
}

.user-card-full .social-link li a {
  font-size: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}
.EditP{
  margin-left: 250px;
}

.EditP p{
  margin-left: 8px;
}
.EditP button{
  border: 2px;
  background-color: #353637;
  color: white;
  width: 130px;
  margin-bottom: 50px;
}

.EditP a {
  color: white;
}

.Editbtn{
  border-radius: 5px;
  width: 200px;
  height: 40px;
  border: 2px;
  background-color: #353637;
  color: white;
}
.EditForm{
  margin-top: 20px;
  width: 500px;
  margin-left: 300px;
}

.EditForm .form-control{
  width: 400px;
}
.EditForm textarea{
  height: 200px;
}


.addP{
  margin-left: 250px;
}
.addP button{
  border: 2px;
  background-color: #353637;
  color: white;
  width: 130px;
  margin-bottom: 50px;
}

.addP a {
  color: white;
}

.addP button{
  border-radius: 5px;
  width: 200px;
  height: 40px;
  border: 2px;
  background-color: #353637;
  color: white;
}
