
<h3>Dashboard</h3>

<h4>Projects</h4>
<div class="projects">
    @for(int i =0 ; i< 10 ; i++){
        <div class="card">
            <img src="https://png.pngitem.com/pimgs/s/19-191037_building-city-buildings-vector-chuzhou-free-png-hq.png" alt="Denim Jeans" style="width:100%">
            <h6>The Writers Hub</h6>
            <p class="stack">MERN Stack</p>
            <p class="group"><b>Done by:</b> group 1</p>
            <p>The Writers Hub is  about ..</p>
            <p><button><a href="projects/{projectId}"></a>Project Details</button></p>
        </div>
    }
</div>

rgb(243, 214, 161)