@model Student
@{
    ViewData["Title"] = "Registeration/Login";
}

<div class="text-center">
    <h2>Welcome!</h2>
</div>

<div class="reg-login-form">
    <div class="left">
        <form asp-action="ProcessReg" asp-controller="Student" method="POST">
            <h2>Register</h2>
            <div class="form-group">
                <label asp-for="FirstName"></label><br>
                <input asp-for="FirstName"><br>
                <span class="text-danger" asp-validation-for="FirstName"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label><br>
                <input asp-for="LastName"><br>
                <span class="text-danger" asp-validation-for="LastName"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label><br>
                <input asp-for="Email"><br>
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label><br>
                <input asp-for="Password"><br>
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="Confirm"></label><br>
                <input asp-for="Confirm"><br>
                <span class="text-danger" asp-validation-for="Confirm"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentGithub"></label><br>
                <input asp-for="StudentGithub"><br>
            </div>

            <div class="form-group">
                <label asp-for="linkedin"></label><br>
                <input asp-for="linkedin"><br>
            </div>

            <div class="form-group">
                <label asp-for="GroupId"></label><br>
                <select asp-for="GroupId" class="form-select">
                    @foreach (Group g in ViewBag.Allgroups)
                    {
                        <option value="@g.GroupId">@g.GroupNumber</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="InstructorId"></label><br>
                <select asp-for="InstructorId" class="form-select">
                    @foreach (Instructor i in ViewBag.AllInstructors)
                    {
                        <option value="@i.InstructorId">@i.Name</option>
                    }
                </select>
            </div>
            <button class="btn btn-primary">Sign up</button>
        </form>
    </div>
    <div class="right">
        <partial name="_LoginPartial" />
    </div>
</div>